.parentContainer{
    display: flex;
    margin: auto;
    align-content: stretch ;
    margin: 5rem ;
}

.Stars{
    padding: 0.5rem 0 1rem 0;
}

.Name{
    color: var(--heavy-jb);
    font-weight: 500;

}

.Heading{
    color: var(--heavy-charl);
    font-weight: 600;
}

Text{
    display: flex;
    flex-direction: column;
    align-items: center;
}