@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-weight: 300;
}


.foot {
  margin: 0;
  background-color: #457b9d;
  height: 150px;
  display: flex;
  align-content: space-around;
}

.foot > *{
  color: white;
}

.fwaves {
  /* background-color: #457b9d;
  height: 150px; */
}


svg {
  margin-bottom: -15px;
}
