@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-weight: 300;
}

.foot {
  margin: 0;
  background-color: #457b9d;
  padding: 0 5rem 1rem 5rem;
}

.foot > * {
  color: white;
}
.foot-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  grid-column-gap: 1.8rem;
}
.foot-left {
  grid-column: 1/3;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding-bottom: 15px;
}

#subscribe {
  font-size: 1.3rem;
}
#mail {
  border-radius: 20px;
  border: none;
  font-size: 15px;
  padding: 8px;
}
svg {
  margin-bottom: -15px;
  /* height: 100px; */
}

.socials {
  position: relative;
  top: 30px;
  bottom: 0;
}

.socials-link {
  margin-right: 1rem;
  /* background-color: #f8f8f8; */
  color: #f8f8f8;
  height: 100%;
  width: 100%;
}

.copyright {
  text-align: center;
  margin-top: 50px;
}
