:root {
  --red: #e63946;
  --offwhite: #f8f8f8;
  --charl: #a8dadc;
  --heavy-charl: #5db3b6;
  --light-charl: #d9eff0;
  --heavy-jb: #274659;
  --jb: #457b9d;
  --light-jb: #70a1c0;
  --black: #2f3133;
}

.mid {
  padding: 1rem 5rem 0 5rem;

  margin-top: -20rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  align-self: center;
  justify-self: center;
}
.working {
  align-self: center;
  justify-self: center;
}

.aboutimg {
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  align-self: center;
  justify-self: center;
}
.category {
  text-align: center;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* .about1img {
  background: linear-gradient(209.36deg, rgba(69, 123, 157, 0.7) 0.03%, rgba(168, 218, 220, 0.7) 100.03%), #F8F8F8;
}
 */
