.skills {
  padding: 0 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 0rem;
}
.reach {
  align-self: end;
}
.followers {
  width: 100%;
}
#tags-area {
  grid-row: 2;
  text-align: left;
}
#tag-box {
  background-color: red;
  color: white;
  border-radius: 10px;
}
.tags {
  width: 100%;
}
#portfolio {
  grid-row: 3;
  text-align: left;
  justify-self: left;
  grid-column: 1/2;
}
#portName {
  border: none;
  background-color: #f1f1f1;
  padding: 0.8rem 0.8rem;
  width: 400px;
  border-radius: 5px;
}
#portDes {
  border: none;
  background-color: #f1f1f1;
  grid-row: 4;
  grid-column: 1/3;
  width: 100%;
  height: 150px;
  padding: 1rem;
}
textarea:focus,
input:focus {
  outline: none;
}
#portImgs {
  background-color: #f1f1f1;
  width: 50%;
  grid-row: 5;
  height: 60px;
  border-radius: 40px;
  padding-top: 1rem;
  cursor: pointer;
}
.category {
  grid-column: 1/3;
}

#addMore {
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#addMore:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
