@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

:root {
  --red: #e63946;
  --offwhite: #f8f8f8;
  --charl: #a8dadc;
  --heavy-charl: #5db3b6;
  --light-charl: #d9eff0;
  --heavy-jb: #274659;
  --jb: #457b9d;
  --light-jb: #70a1c0;
  --black: #2f3133;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins !important;
  font-weight: 300;
}
.link {
  text-decoration: none;
}
