@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

.signup-layout {
  display: grid;
  grid-template-columns: 2fr 4fr;
  height: 100vh;
  font-family: Poppins;
  letter-spacing: 2px;
  text-align: center;
}

#signup-layout-l {
  background-color: #457b9d;
}
#signup-layout-l-content {
  text-align: center;
  color: #f8f8f8;
  padding: 4.5rem;
}
.signupImg {
  margin-top: 3rem;
  height: 60%;
  width: 60%;
}

#loginB {
  margin-top: 3rem;
  border: solid thin;
  border-color: #f8f8f8;
  background-color: #457b9d;
  color: #f8f8f8;
  border-radius: 30px;
  font-size: 1.2rem;
  padding: 0.5rem 4rem 0.5rem 4rem;
  cursor: pointer;
}

#loginB:hover {
  border: solid thin;
  border-color: #457b9d;
  background-color: #f8f8f8;
  color: #457b9d;
  transition: 0.5s;
}

.signup-layout-r {
  padding: 4.5rem 15rem 0 15rem;
}

.createAcc {
  text-align: center;
  font-size: 2.8rem;
  color: #2f3033;
  font-family: Montserrat;
  font-weight: 600;
}

.signupInput {
  margin: 1rem 0 0 0;
  padding: 0.8rem;
}

.signupB {
  background-color: #2f3033;
  color: white;
  font-size: 1.3rem;
  border-radius: 30px;
  padding: 0.5rem 0 0.5rem 0;
  margin-top: 2rem;
  font-family: Poppins;
  font-weight: bold;
  letter-spacing: 2px;
}

.signupB:hover {
  border: solid thin;
  border-color: #2f3033;
  background-color: #f8f8f8;
  color: #2f3033;
  transition: 0.5s;
}
#rolesManual {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  column-gap: 1rem;
}
.rolesOptionsManual {
  color: #457b9d;
  border: solid #457b9d;
  background-color: white;
  padding: 0;
  line-height: 3rem;
  border-radius: 5px;
}
.rolesOptionsManual:hover {
  color: white;
  background-color: #457b9d;
  transition: 0.3s;
}
.rolesOptionSelectedManual {
  color: white;
  background-color: #457b9d;
  border: none;
  line-height: 3rem;
  border-radius: 5px;
}
