.rolesOptions {
  padding: 1rem 1rem;
  width: 100%;
  color: #457b9d;
  border: solid #457b9d;
  background-color: white;

  border-radius: 5px;
}
.rolesOptions:hover {
  color: white;
  background-color: #457b9d;
  transition: 0.3s;
}
.rolesOptionSelected {
  padding: 1rem 1rem;
  width: 100%;
  color: white;
  background-color: #457b9d;
  border: none;
  border-radius: 5px;
}
.signUpGoogle {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0.2rem 1rem 0.2rem 1rem;
  letter-spacing: 2px;
}
.signUpGoogle:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
